@model List<AlbumViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Álbuns";
}
<div class="container main-container">
    <h1>Álbuns</h1>
    <hr>

    <p>
        <a class="btn btn-info" asp-controller="Album" asp-action="Novo">Novo Álbum</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Artista
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model)
            {
                <tr>
                    <td>
                        @album.Titulo
                    </td>
                    <td>
                        @album.Artista?.Nome
                    </td>
                    <td class="text-right">
                        <a class="btn btn-warning"
                           asp-controller="Album"
                           asp-action="Detalhes"
                           asp-route-id="@album.AlbumId">
                            Detalhes
                        </a>
                        <a class="btn btn-info"
                           asp-controller="Album"
                           asp-action="Editar"
                           asp-route-id="@album.AlbumId">
                            Editar
                        </a>
                        <a class="btn btn-danger"
                           asp-controller="Album"
                           asp-action="Excluir"
                           asp-route-id="@album.AlbumId">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>